/* @theme kage1020 */

@import "default";

:root {
  --primary-50: 226, 241, 241;
  --primary-100: 182, 220, 220;
  --primary-200: 136, 199, 198;
  --primary-300: 93, 176, 175;
  --primary-400: 67, 160, 157;
  --primary-500: 54, 143, 139;
  --primary-600: 50, 130, 125;
  --primary-700: 46, 114, 109;
  --primary-800: 43, 98, 94;
  --primary-900: 37, 70, 66;

  --secondary-50: 242, 230, 241;
  --secondary-100: 224, 192, 223;
  --secondary-200: 204, 151, 202;
  --secondary-300: 182, 111, 180;
  --secondary-400: 166, 83, 164;
  --secondary-500: 151, 59, 149;
  --secondary-600: 139, 54, 143;
  --secondary-700: 122, 47, 134;
  --secondary-800: 107, 43, 125;
  --secondary-900: 80, 34, 107;

  --complementary-50: 247, 235, 239;
  --complementary-100: 238, 206, 213;
  --complementary-200: 213, 155, 163;
  --complementary-300: 196, 120, 129;
  --complementary-400: 204, 92, 103;
  --complementary-500: 208, 79, 85;
  --complementary-600: 192, 72, 81;
  --complementary-700: 174, 64, 74;
  --complementary-800: 161, 59, 67;
  --complementary-900: 143, 54, 58;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

h1,
h2 {
  border-bottom: 4px solid rgb(var(--primary-500));
  line-height: 1.5;
}

section.cover h2 {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.15em;
}

section {
  justify-content: start;
  padding: 1.5rem 1.25rem;
  display: flex;
}

section.cover,
section.appendix {
  justify-content: center;
  border: 8px solid rgb(var(--primary-500));
  border-image: linear-gradient(
    to right,
    rgb(var(--primary-400)),
    rgb(var(--primary-600))
  );
  border-image-slice: 1;
}

section:not(.cover):not(.appendix)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: black;
}

section:not(.cover):not(.appendix)::after {
  width: 30%;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-right: 30px;
  border-bottom: 16px solid rgb(var(--primary-500));
  font-size: 1.75rem;
}

section > header {
  width: 100%;
  text-align: right;
  background-color: rgb(var(--primary-500));
  color: white;
  top: 0;
  left: 0;
  padding: 0.125rem 0.5rem;
}

section > footer {
  width: 87%;
  text-align: left;
  bottom: 0.325rem;
  left: 0;
  padding: 0.5rem 1rem 0.325rem;
}

section > h2 + *:is(h3, :nth-child(2)) {
  margin-top: 0;
}

section > p:has(img[alt~="right"]) {
  margin: 0;
}

p {
  position: relative;
}

p:has(~ figure) {
  margin: 0;
}

section figure {
  margin: 0;
}

img[alt~="center"],
video[alt~="center"] {
  display: block;
  margin: 0 auto;
}

img[alt~="right"],
video[alt~="right"] {
  display: block;
  position: absolute;
  right: 3%;
}

table {
  align-self: center;
  overflow: visible;
}

thead th {
  background-color: rgb(var(--primary-800));
  color: white;
}

tbody tr:nth-child(even) {
  background-color: rgba(var(--primary-800), 0.2);
}

th.up,
th.down {
  padding-right: 1.75rem;
}

th.up::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 0.5rem;
  transform: translateY(-50%);
  border: 0.45rem solid transparent;
  border-bottom-color: white;
}

th.up::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 0.7rem;
  height: 1rem;
  width: 0.125rem;
  border-left: 0.25rem solid white;
}

th.down::before {
  content: "";
  position: absolute;
  top: 75%;
  right: 0.5rem;
  transform: translateY(-50%);
  border: 0.5rem solid transparent;
  border-top-color: white;
}

th.down::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0.75rem;
  height: 1rem;
  width: 0.125rem;
  border-left: 0.25rem solid white;
}

ol {
  list-style: decimal;
}

ul,
ul ul ul ul {
  list-style: disc;
}

ul ul,
ul ul ul ul ul {
  list-style: square;
}

ul ul ul,
ul ul ul ul ul ul {
  list-style: circle;
}

hr {
  background-color: rgb(var(--primary-500));
  padding-top: 1px;
  margin: 1rem;
}

mjx-container[display="true"] {
  padding: 0.25rem 0;
}

mjx-container svg {
  display: inline-block;
}

strong {
  font-weight: 700;
}

code.color:before {
  content: "";
  display: inline-block;
  position: relative;
  background-color: var(--color);
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.25rem;
}

cite {
  display: block;
  font-size: 0.75rem;
}

cite.center {
  text-align: center;
}

cite.right {
  text-align: right;
}

cite a {
  color: gray;
  font-style: normal;
}

.name {
  font-size: 1.125rem;
  text-align: right;
}

.organization {
  font-size: 1.125rem;
  text-align: right;
}

.caption {
  text-align: center;
}

.before-right-arrow::before {
  content: "";
  top: 10%;
  right: 20px;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 32px;
  background-color: #262626;
  clip-path: polygon(
    0 33%,
    50% 33%,
    50% 15%,
    100% 50%,
    50% 85%,
    50% 67%,
    0 67%
  );
}
