@charset "UTF-8";
/*!
 * Marp / Marpit Gaia theme.
 *
 * @theme mygaia
 * @author Yuki Hattori
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
@import 'https://fonts.bunny.net/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap';
@import '~highlight.js/styles/sunburst';
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0;
  color: red;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}
h1::part(auto-scaling),
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 580px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p,
blockquote {
  margin: 1em 0 0;
}

ul > li,
ol > li {
  margin: 0.3em 0 0;
}
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0;
}

code {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;
}

pre {
  display: block;
  margin: 1em 0 0;
  overflow: visible;
}
pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}
pre::part(auto-scaling) {
  max-height: calc(580px - 1em);
}

blockquote {
  margin: 1em 0 0;
  padding: 0 1em;
  position: relative;
}
blockquote::after, blockquote::before {
  content: "“";
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  position: absolute;
}
blockquote::before {
  top: 0;
  left: 0;
}
blockquote::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
blockquote > *:first-child {
  margin-top: 0;
}
